html 
    head 
        title='전대 메뉴판'
        link(rel='stylesheet', href='/assets/index.css')
        link(rel='stylesheet', href='https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css')
        //- link(href='https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;&display=swap' rel='stylesheet')
        meta(name='viewport' content='width=device-width, initial-scale=1')

    body.p-5.bg-gray-100
        h1.font-bold.text-3xl.text-center #{menuList[0].date} 식당 메뉴판 
          a.text-sm.text-blue-600(href='https://today.jnu.ac.kr/Page/GetHtmlPage2.aspx' target='_blank') 전대식당

        hr.py-5.mt-2

        div
          div
            h2.font-bold.text-2xl 한식
            ul.flex 
                each item in menuList
                    if item.type == '한식'
                        li 
                            img.menuImg(src=`${item.image}` alt=`${item.name}` onerror=`this.src='${item.image2}'`)
                            p #{item.name}
          div.mt-5
            h2.font-bold.text-2xl 일품
            ul.flex
                each item in menuList
                    if item.type == '일품'
                        li
                            img.menuImg(src=`${item.image}` alt=`${item.name}` onerror=`this.src='${item.image2}'`)
                            p #{item.name}

        hr.pb-5.mt-10

        div.mt-5
          h2.font-bold.text-2xl 내일
          table.table-fixed.mt-3
            thead 
              th.text-left.text-sm.text-gray-500.px-4.py-2
                | 식당
              th.text-left.text-sm.text-gray-500.px-4.py-2
                | 날짜
              th.text-left.text-sm.text-gray-500.px-4.py-2
                | 메뉴
            each item in menuList
                if item.type == '내일한식'
                    tr
                        td 한식
                        td #{item.date}
                        td #{item.list}
                if item.type == '내일일품'
                    tr
                        td 일품
                        td #{item.date}
                        td #{item.list}
        
